<article>
  <section>
    <div class="form-example">
      <form [formGroup]="formGroup">
        <h3>Form with email/phone field</h3>
        <app-form-input formControlName="field"
                        placeholder="Please enter your phone number or email"
        ></app-form-input>
        <app-form-input formControlName="password"
                        type="password"
                        placeholder="Password"
        ></app-form-input>
        <app-form-input formControlName="confirm"
                        [equalToControl]="formGroup.controls.password"
                        [equalErrorText]="'Password do not match'"
                        type="password"
                        placeholder="Confirm password"
        ></app-form-input>
      </form>
    </div>
  </section>
  <section></section>
</article>

<router-outlet></router-outlet>
